*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/img/1323577.png);
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
main{
    height: 657px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#conteudo{
    height: 15%;
    width: 60%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
#conteudo2{
    height: 85%;
    width: 60%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}